.busketMenu {
	position: absolute;
	top: 53px;
	left: -41px;
	background-color: white;
	padding: 10px;
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
	border-radius: 5px;
	border: 1px solid #000;
}
.busketConst {
	border-bottom: 1px solid gray;
	display: flex;
	gap: 20px;
}
.busketWar {
	display: flex;
	gap: 20px;
	border-bottom: 1px solid gray;
}
.allPrice {
}