.mainManWrap {
  background-color: #f1e4e6;
  position: relative;
}

.main__limit {
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgb(241, 228, 230);
}
.main__man {
  width: 50%;
}
.main__man-item {
  width: 100%;
}
.brand__item {
  width: 50%;
}
@media (max-width: 460px) {
  .main__limit {
    text-align: center;
  }
  .main__man {
    display: none;
  }
  .brand__item {
    display: flex;
    align-items: center;
    min-height: 363px;
    width: 100%;
  }
}

h1 {
  white-space: nowrap;
  margin-left: 40px;
  padding-left: 20px;
  border-left: 12px solid #f16d7f;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
h1:first-line {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 29px;
  }

  h1:first-line {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 460px) {
  h1 {
    width: 263px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
  h1:first-line {
    font-size: 38px;
    line-height: 46px;
  }
}

.fashion {
  color: #f16d7f;
}

.main__dark {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav__menu {
  overflow: auto;
  position: relative;
  background-color: #fff;
  margin-left: auto;
  width: 232px;
  height: inherit;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 73px 157px 33px;
}
.close__item {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  color: #000000;
}
.menu__ul {
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  color: #f16d7f;
}
.menu__li {
  padding-left: 23px;
  font-size: 14px;
  line-height: 33px;
  color: #6f6e6e;
}
