@import "nool.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.conteiner {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.limit__content {
  max-width: 1140px;
  margin: 0 auto;
}
.hidden {
  display: none;
}

@import "header.scss";
@import "hiddenMenu.scss";
@import "basketMenu.scss";
@import "mainMan.scss";
@import "accesories.scss";
@import "delivery.scss";
@import "fetured.scss";
@import "catalog.scss";
@import "product.scss";
@import "cart.scss";
@import "registration.scss";
@import "footer.scss";
